*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
.center{
    width: 100%;
    height: 100vh;
    background-color: #00000069;
    place-items: center;
    display: grid;
}
.center input[type= "checkbox"]{
    position: relative;
    width: 95px;
    height: 50px;
    appearance: none;
    -webkit-appearance: none;
    border-radius: 50px;
    background-color: rgb(221, 216, 216);
    outline: none;
    cursor: pointer;
    transition-duration: 400ms;
}
.center input:checked[type="checkbox"]{
    background-color: #26ff00;
}
.center input[type="checkbox"]::before{
    position: absolute;content: 'off';
    height: 50px;
    width: 50px;
    background-color: #fff;
    border-radius: 50%;
    top: 0;
    left: 0;
    transition-duration: 500ms;
place-items:center;
display:grid;
text-transform: uppercase;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
text-shadow: 0 0 20px rgb(0,0,0,.4);
font-weight: bold;
color: rgba(0, 0, 0, 0.253);
    
}
.center input[type="checkbox"]:checked::before{
    content: 'on';
    color:#23af0a;
    left: 46px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 20px rgb(0,0,0,.2);
}